.btnbook {
    background-color: #0070A0;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
}

.btnlink {
    display: flex;
    align-items: center;
    width: 110px;
    background-color: #fff;
    color: #0070A0;
}

.btn-small {
    font-size: 13px;
}

.btn-medium {
    font-size: 15px;
}

.btn-large {
    font-size: 17px;
}