.cta {
    background-color: #E6F7FF;
    margin-bottom: 88px;
    padding: 64px;
}

.cta .contant {
}

.cta h1 {
    width: 448px;
    margin-bottom: 18px;
}

.cta p {
    width: 504px;
    margin-bottom: 44px;
}

.cta .checklist {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.cta span {
    color: #626A72;
}

.cta .btnbook {
    width: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .btnbook a {
    color: #fff;
}