.info{
    margin-bottom: 120px;
}

.info .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info > p {
    font-size: 18px;
    margin-top: 21px;
    margin-bottom: 68px;
    width: 650px;
    height: 54px;
}

.info > h1 {
    width: 456px;
}
.info .cards p{
    width: 225px;
}